<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee details</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <table>
        
<tr>
<th> Employee ID</th>
<th> Employee Name</th>
<th> Employee Email</th>
<th> Employee Contact</th>
<th> Action</th>

</tr>
{% for employee in employees%}
<tr>
<td>{{employee.eid}}</td>
<td>{{employee.ename}}</td>
<td>{{employee.eemail}}</td>
<td>{{employee.econtact}}</td>
<td> <a href="/edit/{{employee.id}}">Edit"</a>
    <a href="/delete/{{employee.id}}">Delete</a>

</td>

</tr>
     {%endfor%}
    </table>
    <br>
    <br>
    <button><a style="color:rgb(223, 32, 32);" href="/">"Add new record"</a></button>
</body>
</html>