body{
    background: white;
    height:100%;
    margin:25px 0;
    padding-left: 300px;
}
table,th,td{
    border:1px solid black;
}
tr:hover{
    background-color: yellow;
}
th{
    background-color: aqua;
    color:white;
}
button{
    border-radius: 12px;
    color:crimson;
    cursor: pointer;

}


